@{
    ViewBag.Title = "Home Page";
}

    @using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
    {
        {
            <h1>Email or UserID: @User.Identity.Name</h1>
        }
    }
    else
    {
        <h1>Mmmmmmm... you can't stay here, this is a secure zone, please logoff</h1>
    }